.if_for_class__style{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    background-color: rgba(208, 88, 196, 0.1);
    padding-left: 5%;
}
ul li{
    float: left;
    width: 20%;
    list-style: none;
}
.red{
  color: crimson;  
}
.grey{
    color: grey;
}
.orange{
    color: orange;
}
.lawngreen{
    color:lawngreen;
}
.sienna{
    color:sienna;
}
