<div class="if_for_class__style">
  <h1 style="color: blueviolet;">条件判断语句</h1>

  <div>
    <h2>*ngIf图片使用</h2>
    <img *ngIf="flag" src="../../../assets/images/boolean (1).png" alt="">
    <img *ngIf="!flag" src="../../../assets/images/boolean (2).png" alt="">
    <hr>
  </div>

  <div>
    <h2>*ngIf和*ngFor结合使用</h2>
    <ul>
      <li *ngFor="let item of arrlist;let key = index">
        <span *ngIf="key == 1" style="color: chartreuse;">{{key+1}}---{{item}}</span>
        <span *ngIf="key != 1">{{key+1}}---{{item}}</span>
      </li>
    </ul>
    <hr>
  </div>

  <div>
    <h2>*ngIf和*ngFor结合使用</h2>
    <span [ngSwitch]="orderStatus">
      <p *ngSwitchCase="1">已经支付</p>
      <p *ngSwitchCase="2">支付并且确定订单</p>
      <p *ngSwitchCase="3">已经发货</p>
      <p *ngSwitchCase="4">已经收货</p>
      <p *ngSwitchDefault>无效订单</p>
    </span>
    <hr>
  </div>

  <div>
    <h2>ngClass使用</h2>
    <div [ngClass]="{'red':!flag,'grey':flag}">ngClass演示</div>
    <br>
    <ul *ngFor="let item of arrlist;let key = index;"
      [ngClass]="{'red':key==0,'grey':key==1,'orange':key==2,'lawngreen':key==3,'sienna':key==4}">
      <li>{{key+1}}---{{item}}</li>
    </ul>
    <hr>
  </div>

  <div>
    <h2>ngStyle使用</h2>
    <p [ngStyle]="{'color':attrColor}">ngStyle使用</p>
  </div>


</div>
