li{
    list-style: none;
    margin-top: 20px;
}
.displays{
    width: 300px;
    height: 270px;
    margin:0 auto;
    text-align: left;
}
.json{
    width: 80%;
    height: 50px;
    border: 1px solid springgreen;
    margin: 0 auto ;
    margin-top: 20px;
}
