<div>
  <h1>事件</h1>
  <p>{{eventValue}}</p>
  <p><button (click)="run()">点击触发run方法</button></p>
  <p><button (click)="getData()">获取数据方法</button></p>
  <p><button (click)="setData()">修改数据方法</button></p>
</div>

<div>
    <h1>表单事件、事件对象</h1>
    <p>{{keydownValueOne}}</p>
    <p>{{keydownValueTwo}}</p>
    <input type="text" (keydown)="keydown()" placeholder="直接修改属性值">
    <input type="text" (keyup)="keyupEvent($event)" placeholder="获取事件dom">
    <p><button (click)="changeColor($event)">修改颜色</button></p>
</div>
