<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" >
      <li nz-submenu nzOpen nzTitle="antd" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">antd表格</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/table">antd表格</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/workplace">Workplace(空)</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="图表" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/echartsuse">echarts基本使用</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dynamic">echarts动态图表数据</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/directive">echarts指令</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/echartchild">echarts父组件传值给子组件</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/liquidfill">echarts水球图</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
